@model List<AdenyaDapperProject.Models.UserModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı Listesi</h2>

<a href="/User/Create" class="btn btn-primary mb-3">Yeni Kullanıcı Ekle</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad Soyad</th>
            <th>Email</th>
            <th>Şifre</th>
            <th>Rol</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>@item.Role</td>
                <td><a href="/User/Delete/@item.UserId" class="btn btn-danger">Sil</a></td>
                <td><a href="/User/Edit/@item.UserId" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>